    body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .hero {
    position: relative;
    height: 100vh;
    background: url('logo.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
  }

    .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1; 
  }
  
  .heading1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 0;
  }

  h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
  }

  .paragraph, .counter {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: #fff;
    margin-top: 0;
  }

  #countdown {
    font-family: 'Oswald', sans-serif;
    color:rgb(0, 255, 55);
  }

  .points{
    color:#fff;
    margin-top: 0;
  }

  .points .fa-check-circle {
    color: rgb(0, 255, 55);
  }

  .points ul{
    list-style-type: none;
    margin-top: 20px;
    text-align: left;
  }

  .points ul li {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

  .button{
            margin-top: 10px;
        }

        .button a {
	        display: inline-block;
          font-family: 'Oswald', sans-serif;
            padding: 15px 30px;
            background-color: #1100EE;
            color: #fff;
            font-size: 40px;
            line-height: 48px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            animation: buttonAnimation 2s infinite;
            text-decoration: none;
        }

        .button a:hover{
            animation-play-state: paused;
        }


        @keyframes buttonAnimation {
            0% {
                transform: scale(1);
                background-color: rgb(0, 255, 55);
            }
            50% {
                transform: scale(1.2);
                background-color: rgb(0, 208, 255);
            }
            100% {
                transform: scale(1);
                background-color: rgb(0, 255, 55);
            }
        }


/*Mobile Responsive*/
  
  @media (max-width: 480px) {
    .heading1 {
      font-size: 2.5rem;
    }

    .paragraph {
      font-size: 1.5rem;
    }
  
    .button a{
      font-size: 22px;
      padding:10px 40px;
    }
    
    .counter{
        font-size: 1.4rem;
        margin-top: 20px;
    }
  }